wandb/*
data/test/*
data/train/*
data/valid/*
datasets/
logs/
results/
wandb/
create_contrastive_set.py
dynamic_mining.py
models/best_models/*.pt
models/pretrain_checkpoints/*.ckpt

__pycache__/
*.sh
data/train
data/valid
data/test
data/glycan_motifs.csv 
data/Lectinoracle_CFG_0.5.csv
data/Lectinoracle_CFG.csv
data/*.pt
data_analysis.ipynb
glyBERT.py
